{% extends "base.html" %} {% block extra_css %}
<link rel="stylesheet" href="/static/css/chatbot.css" />
<link rel="stylesheet" href="/static/css/responsive.css" />
<link rel="stylesheet" href="/static/css/animations.css" />
<link rel="stylesheet" href="/static/css/components/header.css" />
<link rel="stylesheet" href="/static/css/components/chat-messages.css" />
<link rel="stylesheet" href="/static/css/components/input-area.css" />
<link rel="stylesheet" href="/static/css/components/typing-indicator.css" />
{% endblock %} {% block content %}
<div class="main-container"></div>
{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/static/js/chatbot.js"></script>
{% endblock %}
